
* {
    margin: 0;
    padding: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter'; /* Nombre de la fuente */
    src: url('../letra/Inter-VariableFont_slnt,wght.ttf') format('truetype'); /* Ruta al archivo de fuente */
    font-weight: normal;
    font-style: normal;
}


:root {
    --tipo--fuente: "Inter";
    --tama単o--texto: 18px;
    --color--fondo: rgba(244, 244, 244, 1);
    --color--encabezado: rgba(7, 96, 16, 1);
    --color--blanco: #ffff;
    --boton-ingresar: rgba(70, 175, 81, 1);
    /* --fondo--contenedor: #10dfb223; */
    /* --fondo--contenedor:#0ba48328; */
    --fondo--contenedor:#ffffff57;
    --color--gris: rgba(232, 232, 232, 1);
    --color--gris__medio: rgb(181 181 181);
    --color--gris__oscuro: rgb(54, 54, 54);
    --color--gris--hover: rgb(187, 187, 187);
    --tama単o--titulos__grandes: 40px;
    --verde--opcaidad: rgba(7, 96, 16, 0.33);
    --color--amarillo: #87f192;
    --verde--lote: rgba(7, 96, 16, 0.74);
    --BtnEditar: rgba(217, 235, 218, 0.74);
    --botones--interaccion: rgba(218, 218, 218, 1);
    --color--rojo_alertaBoton: rgba(145, 0, 0, 0.808);
    --color--alertaBoton_Claro: rgba(241, 231, 231, 0.808);
    --fondo--cards:rgba(228, 226, 201, 1);
    --fondo--cardsHover:rgb(204, 202, 180);
    --tama単o--26: 24px;
    --padding: 10px;
    --margen: 10px;
}

    

body {
    font-family: var(--tipo--fuente);
    font-size: var(--tama単o--texto);
    background-color: var(--color--fondo);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.sombras--contenedor{
box-shadow: 0px 0px 20px 1px rgba(0.2, 0.2, 0.2, 0.2);
}

@media (max-width: 768px) {
    header{
        padding: 0 10px;
    }
    
}










.cinta--perfil{
   padding: 20px 0px;
}

.perfil--icono{
    font-size: 50px;
}

.perfil--titulo{
    font-weight: 900;
}