@font-face {
    font-family: inter;
    src: url(../letra/Inter-VariableFont_slnt\,wght.ttf);
}

:root{
    --tipo--fuente:inter;
    --tamaño--texto: 18px;
    --color--fondo:rgba(244, 244, 244, 1);
    --color--encabezado:rgba(7, 96, 16, 1);
    --color--blanco:#ffff;
    --boton-ingresar:rgba(70, 175, 81, 1);
    --color--gris: rgba(217, 217, 217, 1);
    
}


/* todos estos son los datos que se utilizan en el login, algunos se reutilizaran para el registro  */
.ingresar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 90vh;
    justify-items: center;
    align-items: center;
}

.logo_apli{
    width: 370px;
    height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo_login{
    height: 344px;
    width: 344px;
    padding-bottom: 30px;
}

.Nombre_login{
    font-size: 64px;
    font-weight: 800;
}

.texto_login{
    font-size: 20px;
}


.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.datos_logeo{
    background-color: var(--color--gris);
    width: 463px;
    height: 428px;
    border-radius: 46px;
    gap: 25px;
    
}

.input_ingresar{
    width: 373px;
    height: 44px;
    background-color: var(--color--blanco);
    border: none;
    margin-top: 16px;
    border-radius: 10px;
    padding: 12px;
    color: rgb(134, 134, 134);
    
}

.boton{
    width: 373px;
    height: 44px;
    border-radius: 10px;
    background-color: var(--boton-ingresar);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color--blanco);
    border: none;
}

.boton_registro{
    background-color: var(--boton-ingresar);
    opacity: 50%;
    width: 178px;
}

.boton__olvidar{
    background-color: var(--color--gris);
    padding-top: 15px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    margin-top: 16px;
    display: flex;
    align-items: center;
}

hr{
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 50%;
}

.boton:hover {
    background-color: rgba(70, 175, 81, 0.8); 
}

.boton_registro:hover {
    background-color: rgba(70, 175, 81, 0.8); 
}

.boton__olvidar:hover {
    background-color: rgb(255, 255, 255);
    opacity: 50%;
    color: #000000; 
}

/* algunos cambios que se tuvieron que implementar para que el registro se viera bien 

*/

.input_registro{
    width: 460px;
    height: 44px;
    background-color: var(--color--blanco);
    border: none;
    margin-bottom: 16px;
    border-radius: 10px;
    padding: 12px;
    color: rgb(134, 134, 134);
    
    
}

.registro{
    height: auto;
    width: 930px;
    background-color: var(--color--gris);
    margin: 40px;
    border-radius: 15px;

}

.registro__linea{
    margin: 20px;
}

.registro__titulo{
    font-size: 48px;
    font-weight: 200;
    margin-top: 30px;
    
}

.registro__input{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 14px;
    gap: 6px;
}

.registro__input--seleccion, .registro__input--cuadro{
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px 0 10px 0;
    
}

.input_registro--seleccion{
    width: 68px;
    height: 44px;
    background-color: var(--color--blanco);
    border: none;
    border-radius: 10px;
    padding: 12px;
    color: rgb(134, 134, 134);
}

.boton__registro{
    margin: 20px;
    width: 460px;
}