

/* aqui se va a trabajar los estilos de la vista de los lotes  */

.fondo__cinta{
  background-color: var(--color--gris__oscuro);
}

.cinta__opciones{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 109px;
  gap: 50px;
}

.cinta__logo{
  height: 90px;
  width: 90px;
}

.Titulo{
  font-size: var(--tamaño--titulos__grandes);
  font-weight: 500 ;
}

.linea__cinta{
  height: 12px;
  background-color: var(--verde--opcaidad);
  margin: 0;
}

/* aqui voy a trabajar el titulo de lo que se ve y el contenido que lleve  */

.Tipo__vista{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
}

.Tipo__vista--punto{
  border-radius: 100%;
  background-color: rgba(255, 178, 15, 1);
  height: 12px;
  width: 12px;
}

.linea__datos{
  width: 90%;
  margin: auto;
}

.Datos__lote{
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
  text-decoration: none;
  color: #000;
}