

.table-container__header {
    padding: 20px;
    background-color: #f1f1f1;
    margin: 0;
    font-size: 1.5em;
}

.table-container__table {
    width: 100%;
    border-collapse: collapse;
}

.table-container__row {
    border-bottom: 1px solid #dddddd;
}

.table-container__cell--icon {
    width: 60px;
    text-align: center;
    vertical-align: middle;
}

.table-container__cell--icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.table-container__cell {
    padding: 10px;
    vertical-align: top;
}

.table-container__cell--blood-type {
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
}