

.dot {
    width: 10px;
    height: 10px;
    background-color: #FFA500;
    border-radius: 50%;
    margin-right: 10px;
}

.user {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.user:last-child {
    border-bottom: none;
}

.user-info, .contact-info, .address-info, .grade {
    flex: 1;
    display: flex;
    align-items: center;
}

.user-info {
    max-width: 20%;
}

.avatar {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 10px;
}

.details p, .contact-info p, .address-info p, .grade p {
    margin: 5px 0;
}

.grade {
    justify-content: center;
}

.grade p {
    font-size: 1.5em;
    font-weight: bold;
}
