
/* aqui se van a trabajar los estilos de la vista de tratamiento  */

.Titulo--tratamiento{
    font-weight: 600;
    font-size: 35px;
}

.Trata__enfer--titulo{
    color: var(--color--rojo_alertaBoton);
}

.tratamiento{
    padding: 20px 10px;
}